# ==============================================================================
# Operating System & Editor Files
# ==============================================================================
# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db

# Linux
*~
.directory

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo
*.bak

# ==============================================================================
# Build & Deployment
# ==============================================================================
_site/
.jekyll-cache/
.jekyll-metadata
